<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <span>
        <h4>Stepper - 4 step, linear</h4>
      </span>

      <ng-template #firstTemplate>
        <form [formGroup]="firstFormGroup">
          <hyt-input-text placeholder="Last name, First name" [form]="firstFormGroup" 
            formControlName="firstCtrl" name="firstCtrl" [isRequired]="true">
          </hyt-input-text>
          <hyt-select [form]="firstFormGroup" formControlName="packetTrafficPlan" name="packetTrafficPlan"
            [label]="'Favourite Food'" [hint]="'Inserisci il tuo cibo preferito'" [isRequired]="true"
            [errorMsgRequired]="'Prego selezionare un cibo'" [options]="options"></hyt-select>
          <hyt-button (clickFn)="completeFirst()">Complete</hyt-button>
          <hyt-button (clickFn)="stepper.next()">Next</hyt-button>
        </form>
      </ng-template>

      <ng-template #secondTemplate>
        <form [formGroup]="secondFormGroup">
          <hyt-input-text placeholder="Address" [form]="secondFormGroup" 
            formControlName="secondCtrl" name="secondCtrl" [isRequired]="true">
          </hyt-input-text>
          <hyt-button (clickFn)="stepper.previous()">Back</hyt-button>
          <hyt-button (clickFn)="stepper.next()">Next</hyt-button>
        </form>
      </ng-template>

      <ng-template #thirdTemplate>
        <form [formGroup]="thirdFormGroup">
          <hyt-input-text placeholder="Email" [form]="thirdFormGroup" 
            formControlName="thirdCtrl" name="thirdCtrl" [isEmail]="true">
          </hyt-input-text>
          <hyt-button (clickFn)="stepper.previous()">Back</hyt-button>
          <hyt-button (clickFn)="stepper.next()">Next</hyt-button>
        </form>
      </ng-template>

      <ng-template #fourthTemplate>
        <form [formGroup]="fourthFormGroup">
          <hyt-input-text placeholder="Email" [form]="fourthFormGroup" 
            formControlName="fourthCtrl" name="fourthCtrl" [isEmail]="true">
          </hyt-input-text>
          <hyt-button (clickFn)="stepper.previous()">Back</hyt-button>
          <hyt-button (clickFn)="stepper.next()">Next</hyt-button>
        </form>
      </ng-template>

      <ng-template #fifthTemplate>
        <form [formGroup]="fifthFormGroup">
          <hyt-input-text placeholder="Email" [form]="fifthFormGroup" 
            formControlName="fifthCtrl" name="fifthCtrl" [isEmail]="true">
          </hyt-input-text>
          <hyt-button (clickFn)="stepper.previous()">Back</hyt-button>
          <hyt-button (clickFn)="stepper.next()">Next</hyt-button>
        </form>
      </ng-template>

      <ng-template #sixthTemplate>
        <form [formGroup]="sixthFormGroup">
          <hyt-input-text placeholder="Email" [form]="sixthFormGroup" 
            formControlName="sixthCtrl" name="sixthCtrl" [isEmail]="true">
          </hyt-input-text>
          <hyt-button (clickFn)="stepper.previous()">Back</hyt-button>
          <hyt-button (clickFn)="stepper.next()">Next</hyt-button>
        </form>
      </ng-template>

      <ng-template #seventhTemplate>
        <form [formGroup]="seventhFormGroup">
          <h4>You are now done.</h4>
          <hyt-button (clickFn)="stepper.previous()">Back</hyt-button>
        </form>
      </ng-template>

      <hyt-stepper #stepper 
        [isLinear]="true" 
        [stepArray]="[firstTemplate, secondTemplate, thirdTemplate]"
        [labelArray]="['Fill out your name', 'Fill out your address', 'Fill out your email']"
        [completedArray]="[firstCompleted, true, false]"
      >
      </hyt-stepper>
     
    </div>
  </div>
  <mat-divider></mat-divider>

</div>