<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="ui-element">
                <h4>Autocomplete</h4>
                <mat-form-field class="hyt-full-width">
                    <input matInput #input type="text" [formControl]="formControl" [placeholder]="'Pick One'" [matAutocomplete]="auto">
                </mat-form-field>
                <hyt-autocomplete #auto="hytAutocomplete" [input]="input" [formControl]="formControl" [options]="options">
                </hyt-autocomplete>
            </div>
        </div>
    </div>
</div>