<div class="container-fluid">

  <div class="row">
    <div class="button ui-element">
      <h4>Default</h4>
      <hyt-button (clickFn)="onClick()">Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Primary</h4>
      <hyt-button [color]="'primary'" (clickFn)="onClick()"><mat-icon>favorite</mat-icon>Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Accent</h4>
      <hyt-button [color]="'accent'" (clickFn)="onClick()">Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Warn</h4>
      <hyt-button [color]="'warn'" (clickFn)="onClick()">Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Disabled</h4>
      <hyt-button [isDisabled]="true" (clickFn)="onClick()">Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Disabled type submit</h4>
      <hyt-button type="submit" [isDisabled]="true" (clickFn)="onClick()">Click me!</hyt-button>
    </div>
  </div>
  
  <div class="row">

    <div class="button ui-element">

      <h4>hyt-base</h4>
      <hyt-button [color]="'hyt-base'" (clickFn)="onClick()">
        Button
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-white</h4>
      <hyt-button [color]="'hyt-base-white'" (clickFn)="onClick()">
        BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-white-rounded</h4>
      <hyt-button [color]="'hyt-base-white-rounded'" (clickFn)="onClick()">
        BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-total-white</h4>
      <hyt-button [color]="'hyt-base-total-white'" (clickFn)="onClick()">
        BUTTON
      </hyt-button>

    </div>

  </div>

  <div class="row">

    <div class="button ui-element">

      <h4>hyt-base-total-green</h4>
      <hyt-button [color]="'hyt-base-total-green'" (clickFn)="onClick()">
          <span class="hyt-icon icon-hyt_arrowLeft"></span> BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-total-red</h4>
      <hyt-button [color]="'hyt-base-total-red'" (clickFn)="onClick()">
        BUTTON <span class="hyt-icon icon-hyt_cancel"></span>
      </hyt-button>

    </div>

    <!----->

    <div class="button ui-element">

      <h4>hyt-base-total-green DISABLED</h4>
      <hyt-button [color]="'hyt-base-total-green'" (clickFn)="onClick()" [isDisabled]="true">
          <span class="hyt-icon icon-hyt_arrowLeft"></span> BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-total-red DISABLED</h4>
      <hyt-button [color]="'hyt-base-total-red'" (clickFn)="onClick()" [isDisabled]="true">
        BUTTON <span class="hyt-icon icon-hyt_cancel"></span>
      </hyt-button>

    </div>

  </div>

  <div class="row">

    <div class="button ui-element">

      <h4>hyt-base ICON</h4>
      <hyt-button [color]="'hyt-base'" (clickFn)="onClick()">
        <span class="hyt-icon icon-hyt_plusC"></span>  BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-white ICON</h4>
      <hyt-button [color]="'hyt-base-white'" (clickFn)="onClick()">
        <span class="hyt-icon icon-hyt_plusC"></span> BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-white-rounded ICON</h4>
      <hyt-button [color]="'hyt-base-white-rounded'" (clickFn)="onClick()">
        <span class="hyt-icon icon-hyt_plusC"></span>  BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-total-white ICON</h4>
      <hyt-button [color]="'hyt-base-total-white'" (clickFn)="onClick()">
        <span class="hyt-icon icon-hyt_plusC"></span>  BUTTON
      </hyt-button>

    </div>

  </div>

  <div class="row">

    <div class="button ui-element">

      <h4>hyt-base DISABLED</h4>
      <hyt-button [color]="'hyt-base'" (clickFn)="onClick()" [isDisabled]="true">
        <span class="hyt-icon icon-hyt_plusC"></span>  BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-white DISABLED</h4>
      <hyt-button [color]="'hyt-base-white'" (clickFn)="onClick()" [isDisabled]="true">
        <span class="hyt-icon icon-hyt_plusC"></span> BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-white-rounded DISABLED</h4>
      <hyt-button [color]="'hyt-base-white-rounded'" (clickFn)="onClick()" [isDisabled]="true">
        <span class="hyt-icon icon-hyt_plusC"></span>  BUTTON
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>hyt-base-total-white DISABLED</h4>
      <hyt-button [color]="'hyt-base-total-white'" (clickFn)="onClick()" [isDisabled]="true">
        <span class="hyt-icon icon-hyt_plusC"></span>  BUTTON
      </hyt-button>

    </div>

  </div>

  <div class="row">

    <div class="button ui-element">

      <h4>STEPPER NEXT</h4>
      <hyt-button [color]="'hyt-stepper-next'" (clickFn)="onClick()">
        Next <span class="hyt-icon icon-hyt_arrowRight"></span>
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>STEPPER PREV</h4>
      <hyt-button [color]="'hyt-stepper-prev'" (clickFn)="onClick()">
        <span class="hyt-icon icon-hyt_arrowLeft"></span> Prev
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>STEPPER NEXT DISABLED</h4>
      <hyt-button [color]="'hyt-stepper-next'" (clickFn)="onClick()" [isDisabled]="true">
        Next <span class="hyt-icon icon-hyt_arrowRight"></span>
      </hyt-button>

    </div>

    <div class="button ui-element">

      <h4>STEPPER PREV DISABLED</h4>
      <hyt-button [color]="'hyt-stepper-prev'" (clickFn)="onClick()" [isDisabled]="true">
        <span class="hyt-icon icon-hyt_arrowLeft"></span> Prev
      </hyt-button>

    </div>

  </div>

  <mat-divider></mat-divider>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-4 ui-element">
        <span>
          <h4>Radio Button</h4>
        </span>
        <hyt-radio-button [form]="form" [options]="options" name="radio" formControlName="radio" (changeFn)="onChangeRadio($event)">
        </hyt-radio-button>
      </div>
      <div class="col-4 ui-element">
        <span>
          <h4>Radio Button Vertical Required</h4>
        </span>
        <hyt-radio-button [form]="form" name="radio1" formControlName="radio1" [options]="options" (changeFn)="onChangeRadio($event)" [verticalAlign]="true" [isRequired]="true">
        </hyt-radio-button>
      </div>
      <div class="col-4 ui-element">
        <span>
          <h4>Radio Button with 2 way binding</h4>
        </span>
        <hyt-radio-button [form]="form" [options]="options" name="radio2" formControlName="radio2" (changeFn)="onChangeRadio($event)" [labelPosition]="'before'">
        </hyt-radio-button>
        <div class="select-text" *ngIf="selectedOption">
          <p>You selected: {{ selectedOption.value }}</p>
        </div>
      </div>
      <hyt-button type="submit" (clickFn)="onClick()">Submit</hyt-button>
    </div>
  </form>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-4 ui-element">
      <span>
        <h4>Checkbox</h4>
      </span>
      <hyt-checkbox [(ngModel)]="checked" (changeFn)="onClickCheckbox($event)">Check me!</hyt-checkbox>
      <br>
      value: {{ checked }}
    </div>
    <div class="col-4 ui-element">
      <span>
        <h4>Tri State Checkbox</h4>
      </span>
      <hyt-tri-checkbox [(ngModel)]="checked2" (changeFn)="onClickCheckbox2($event)">Check me!</hyt-tri-checkbox>
      <br>
      value: {{ checked2 }}
    </div>
  </div>
</div>