<div class="container-fluid">
  <div class="row">
    <div class="button ui-element">
      <h4>Default</h4>
      <hyt-button (clickFn)="onClick()">Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Primary</h4>
      <hyt-button [color]="'primary'" (clickFn)="onClick()">Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Accent</h4>
      <hyt-button [color]="'accent'" (clickFn)="onClick()">Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Warn</h4>
      <hyt-button [color]="'warn'" (clickFn)="onClick()">Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Disabled</h4>
      <hyt-button [isDisabled]="true" (clickFn)="onClick()">Click me!</hyt-button>
    </div>
    <div class="button ui-element">
      <h4>Disabled type submit</h4>
      <hyt-button type="submit" [isDisabled]="true" (clickFn)="onClick()">Click me!</hyt-button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-4 ui-element">
      <span>
        <h4>Radio Button</h4>
      </span>
      <hyt-radio-button [options]="options" (changeFn)="onChangeRadio($event)">
      </hyt-radio-button>
    </div>
    <div class="col-4 ui-element">
      <span>
        <h4>Radio Button Vertical</h4>
      </span>
      <hyt-radio-button [options]="options" (changeFn)="onChangeRadio($event)" [verticalAlign]="true">
      </hyt-radio-button>
    </div>
    <div class="col-4 ui-element">
      <span>
        <h4>Radio Button with 2 way binding</h4>
      </span>
      <hyt-radio-button [options]="options" (changeFn)="onChangeRadio($event)" [labelPosition]="'before'"
        [(ngModel)]="selectedOption">
      </hyt-radio-button>
      <div class="select-text" *ngIf="selectedOption">
        <p>You selected: {{ selectedOption.value }}</p>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-4 ui-element">
      <span>
        <h4>Checkbox</h4>
      </span>
      <hyt-checkbox>Check me!</hyt-checkbox>
    </div>
  </div>
</div>