.row {
  padding-bottom: 45px;
}

hyt-button {
  margin-right: 20px;
}

.select-text{
  margin-top:10px;
}

.button {
  padding-left: 15px;
  padding-right: 15px;
}

.ui-element {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  padding: 10px;
}