<nb-layout>

  <nb-layout-header fixed>
    <div class="img-center">
      <img src="./../assets/images/h-logo.jpg" alt="Logo" height="42" width="42">
    </div>
    <div class="center">
      <h5>HyperIoT Components Showcase</h5>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    <p>UI Components</p>
    <nb-menu [items]="items">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>