<mat-toolbar id="toolbar" class="mat-elevation-z8">
  <div class="img-logo">
    <img src="../assets/images/h-logo.jpg" alt="h-logo" width="50" height="50">
  </div>
  <span>
    <strong>{{title}}</strong>
  </span>
</mat-toolbar>
<div class="mat-app-background basic-container">
  <mat-sidenav-container class="example-container" [hasBackdrop]="false">
    <mat-sidenav #sidenav mode="side" opened class="mat-elevation-z8 h-sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink='/inputs'>Text inputs</a>
        <a mat-list-item routerLink='/select'>Select</a>
        <a mat-list-item routerLink='/buttons'>Buttons</a>
        <a mat-list-item routerLink='/stepper'>Stepper</a>
        <a mat-list-item routerLink='/cards'>Cards</a>
        <a mat-list-item routerLink='/layout'>Bootstrap grid</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="basic-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>