<!-- <h4 class="m-2">Project TreeView</h4>

<div class="p-4 d-flex flex-column align-items-center">
    <hyt-tree-view-project
        #treeView
        (nodeClick)="onNodeClicked($event)"
        class="m-auto"></hyt-tree-view-project>
</div> -->

<h4 class="m-2">Project TreeView With HYT Icons</h4>

<div class="p-4 d-flex flex-column align-items-center">
    <hyt-tree-view-project
        #treeView2
        (nodeClick)="onNodeClicked($event)"
        class="m-auto"></hyt-tree-view-project>
</div>

<div style="padding: 15px; margin-top:30px;">
    <h2>PROVA ICONE</h2>
    <span class="hyt-icon icon-hyt_projects" style="font-size: 2em;margin-right: 15px;"></span>
    <span class="hyt-icon icon-hyt_projectSolo" style="font-size: 2em;margin-right: 15px;"></span>
    <span class="hyt-icon icon-hyt_save" style="font-size: 2em;margin-right: 15px;"></span>
    <span class="hyt-icon icon-hyt_setting" style="font-size: 2em;margin-right: 15px;"></span>
    <span class="hyt-icon icon-hyt_search" style="font-size: 2em;margin-right: 15px;"></span>
    --
    <span class="hyt-icon icon-hyt_pencil" style="font-size: 2em;margin-right: 15px;"></span>
    <span class="hyt-icon icon-hyt_pencil_Negative" style="font-size: 2em;margin-right: 15px;"></span>
</div>
