<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="ui-element">
          <span>
            <h4>Input Text</h4>
          </span>
          <hyt-input-text [form]="form" formControlName="input" name="input" placeholder="Insert text here"
            (change)="onChange($event)" [disabled]="false">
          </hyt-input-text>
          <p>You inserted: {{ inputText }}</p>
        </div>
      </div>
      <div class="col-6">
        <div class="ui-element">
          <span>
            <h4>Required field</h4>
          </span>
          <hyt-input-text [form]="form" formControlName="required" name="required" [isRequired]="true"
            fieldValue="value" hint="Errors appears instantly!" placeholder="Insert text here">
          </hyt-input-text>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="ui-element">
          <span>
            <h4>Validated password</h4>
          </span>
          <hyt-input-text [form]="form" formControlName="password" name="password" [isPassword]="true"
            type="password" [isRequired]="false" hint="Errors appears instantly!" placeholder="Insert password"
            errorPosition="bottom">
          </hyt-input-text>
        </div>
      </div>
      <div class="col-6">
        <div class="ui-element">
          <span>
            <h4>Injected error</h4>
          </span>
          <hyt-input-text #injectedErrInput [form]="form" formControlName="username" name="username" id="username"
            hint="Errors appears instantly!" [injectedErrorMsg]="username" placeholder="Insert text here">
          </hyt-input-text>
          <p></p>
          <hyt-button type="button" color="accent" (clickFn)="toogleErrorState()">Toogle error state</hyt-button>
          State: {{ injectedErrorState }}
        </div>
      </div>
    </div>
    <div class="row ui-top">
      <div class="col-6">
        <div class="ui-element">
          <span>
            <h4>Confirm password</h4>
          </span>
          <hyt-input-text [form]="form" formControlName="confirmPassword" name="confirmPassword" confirmPassword="password"
            type="password" [isRequired]="true" hint="Errors appears instantly!" placeholder="Confirm password"
            errorPosition="bottom">
          </hyt-input-text>
        </div>
      </div>
      <div class="col-6">
        <div class="ui-element">
          <span>
            <h4>Validated e-mail</h4>
          </span>
          <hyt-input-text [form]="form" formControlName="email" name="email" [isEmail]="true"
            hint="Errors appears instantly!" placeholder="Insert your e-mail">
          </hyt-input-text>
        </div>
        <div class="submit">
          <hyt-button type="submit" color="primary" [isDisabled]="isFormInvalid()">Submit</hyt-button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="ui-element">
          <span>
            <h4>Text area</h4>
          </span>
          <hyt-text-area [form]="form" formControlName="textarea" name="textarea" placeholder="Leave a comment"
            hint="Errors appears instantly!" [isRequired]="true">
          </hyt-text-area>
        </div>
      </div>
      <div class="col-6">
        <div class="ui-element">
          <span>
            <h4>Test</h4>
          </span>
          <hyt-input-text [form]="form"
            name="name" placeholder="Name"
            formControlName="name"
            (change)="onChange($event)"
            minlength="5"
            [isRequired]="true"
            errorPosition="bottom"
          >
          </hyt-input-text>
        </div>
      </div>
    </div>
  </div>
</form>