#toolbar {
  background-color: #008aff;
  color: #fff;
}

.ui-element {
  padding-top: 10px;
  padding-bottom: 10px;
}
 .ui-top {
   padding-top: 35px;
 }

 .submit {
  float: right;
  padding-right: 100px;
  padding-top: 20px;
 }